/* Selector Universal*/

 /* * {
    color: bisque;
} */

/* Selector de Etiqueta*/

/* p {
    color: brown;
} */

/* h1, h2 {
    color: coral;
} */

/* Selector Descendente*/

/* p span {
    color: darkgreen;
} */

/* Selector de Clase*/

/* h3.importante{
    color: darkolivegreen;
} */

/* p.importante {
    color: darkolivegreen;
} */

/* Selectores de ID */

/* #resaltar{
    color: darkred;
} */

 /* #h1importante{ 
    color: deepskyblue;
} */



